<div class="panel">
    <h1>Unauthorized</h1>
    <h2>
    <% if (typeof message !== 'undefined') { %>
        <%= message %>
    <% } else { %>
        You need to log in.
    <% } %>
    </h2>
    <p class="help">
        <a href="http://en.wikipedia.org/wiki/HTTP_401">Why</a> might this be happening?
    </p>
</div>
