<div class="panel">
    <h1>Forbidden</h1>
    <h2>
    <% if (typeof message !== 'undefined') { %>
        <%= message %>
    <% } else { %>
        You don't have permission to see the page you're trying to reach.
    <% } %>
    </h2>
    <p class="help">
        <a href="http://en.wikipedia.org/wiki/HTTP_403">Why</a> might this be happening?
    </p>
</div>
