<div class="panel error">
    <h1>Internal Server Error</h1>
    <h2>Something isn't right here.</h2>
    <% if (typeof error !== 'undefined') { %>
        <pre class="error">
            Error:
            <code>
                <%- JSON.stringify(error) %>
            </code>
        </pre>
    <% } else { %>
        <p class="error">
            oh oh! we are trying to fix this.
        </p>
    <% } %>
    <% if (typeof stack !== 'undefined') { %>
        <pre class="error">
            Stack:
            <code>
                <%- stack %>
            </code>
        </pre>
    <% }%>
</div>
