<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <style>
    html, body {
        background-color: #212121;
        color: #fafafa;
        padding: 0;
        margin: 0;
    }
    .content {
        padding: 20px;
    }
    a{ color: #ca03fa;}
    a:hover{ #ff3366;}
    </style>
    <body>
        <%- body %>
    </body>
</html>
